.bg-blue {
  background-color: rgba(95, 139, 233, 1);
  transition: .2s;
}

.bg-blue:hover {
  background-color: rgba(95, 139, 233, 0.9);
}

.bg-red {
  background-color: rgba(230, 74, 57, 1);
  transition: .2s;
}

.bg-red:hover {
  background-color: rgba(230, 74, 57, 0.9);
}

.bg-green {
  background-color: rgba(101, 237, 15, 1);
  transition: .2s;
}

.bg-green:hover {
  background-color: rgba(101, 237, 15, 0.9);
}

.bg-yellow {
  background-color: rgba(237, 209, 87, 1);
  transition: .2s;
}

.bg-yellow:hover {
  background-color: rgba(237, 209, 87, 0.9);
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.pointer-on-hover:hover .underline-on-parent-hover {
  text-decoration: underline;
}

.red-on-hover:hover, .red-on-hover:hover p {
  color: rgb(209,111,111) !important;
}

.red-text, .red-text p {
  color: rgb(209,111,111) !important;
}

h3 {
  font-size: 18px !important;
  font-weight: bold im !important;
}

.quiz-button {
  background: #FFF39A !important;
  border-color: #FFF39A !important;
  color: #413F3F  !important;
}

.quiz-button:hover {
  background: #EDE080 !important;
  border-color: #EDE080 !important;
  color: #413F3F  !important;
}