.bg-blue {
  background-color: rgba(95, 139, 233, 1);
  transition: .2s;
}

.bg-blue:hover {
  background-color: rgba(95, 139, 233, 0.9);
}

div#bot-wrapper .message {
  margin-bottom: 50px;
}

img.description-img {
  width: 100%;
  display: block;
  border: 1px solid #c2c2c2;
}

.description-definition {
  background: #b1cee9;
  padding: 30px;
  margin-top: 30px;
}

.description-tip {
  background: #599fe1;
  padding: 30px;
  margin-top: 30px;
  color: white;
}

.description-eksempel {
  border: 1px solid #555555;
  padding: 30px 40px;
}

.bg-red {
  background-color: rgba(230, 74, 57, 1);
  transition: .2s;
}

.bg-red:hover {
  background-color: rgba(230, 74, 57, 0.9);
}

.bg-green {
  background-color: rgba(101, 237, 15, 1);
  transition: .2s;
}

.bg-green:hover {
  background-color: rgba(101, 237, 15, 0.9);
}

.bg-yellow {
  background-color: rgba(237, 209, 87, 1);
  transition: .2s;
}

.bg-yellow:hover {
  background-color: rgba(237, 209, 87, 0.9);
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.dark-blue-on-hover:hover {
  background-color: #0C4F88 !important;
}

.pointer-on-hover:hover .underline-on-parent-hover {
  text-decoration: underline;
}

.red-on-hover:hover, .red-on-hover:hover p {
  color: rgb(209,111,111) !important;
}

.red-text, .red-text p {
  color: rgb(209,111,111) !important;
}

.blue-on-hover:hover, .blue-on-hover:hover p {
  color: #007bff !important;
}

.blue-text, .blue-text p {
  color: #007bff !important;
}

.blue-border-on-hover:hover {
  border:1px solid#007bff !important ;
}

.grey-on-hover:hover, .grey-on-hover:hover p {
  color: #000000 !important;
  text-decoration: underline;
}

.grey-on-hover.blue-text:hover, .grey-on-hover.blue-text:hover p {
  color: #007bff !important;
  text-decoration: underline;
}

.grey-text, .grey-text p {
  color: #000000 !important;
}

h3 {
  font-size: 18px !important;
  font-weight: bold im !important;
}

.quiz-button {
  background: #007bff !important;
  border-color: #007bff !important;
  color: white  !important;
}

.quiz-button-correct {
  background: #25cc4a !important;
  border-color: #25cc4a !important;
  color: white  !important;
}

.quiz-button-wrong {
  background: #cc4425 !important;
  border-color: #cc4425 !important;
  color: white  !important;
}

.quiz-button:hover {
  background: #0262c9 !important;
  border-color: #0262c9 !important;
  color: white  !important;
}

.text-decoration-link {
  text-decoration: underline;
}

.text-decoration-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.course-menu-item:hover {
  background-color: #f0f0f0;
}

.course-menu-item {
  transition: .2s;
}

#bot-wrapper::-webkit-scrollbar {
  display: none;
}

input.create-course-name {
  font-size: 70px;
  border: 0px;
  box-shadow: 0px 0px !important;
  color: #0262c9 !important;
  text-align: center;
}

input.create-course-name:focus, textarea.question-input:focus {
  outline: none;
  border: 0px !important;
}

textarea.information-input:focus {
  box-shadow: 0px 0px !important;
}

textarea.question-input {
  background: none !important;
  border: 0px;
  box-shadow: 0px 0px !important;
}

input.create-course-name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0262c9;
  opacity: 1; /* Firefox */
}

input.create-course-name:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0262c9;
}

input.create-course-name::-ms-input-placeholder { /* Microsoft Edge */
  color: #0262c9;
}

input.course-creation-answer::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input.course-creation-answer:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input.course-creation-answer::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}